.container-grid1 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

.container-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 60px 120px;
}

.container-grid3 {
    display: grid;
    grid-template-columns: repeat(3,1fr) 2fr;
    grid-template-rows: 100px;
}

div[class^="grid"] {
    border: 1px solid red;
}

div[class^="container"] {
    margin-top: 20px;
}